@import "tailwindcss";

@import "tailwindcss";

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #f5f5f7;
  background-color: #0a0a0f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0a0a0f;
}

button,
a {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: "Space Grotesk", sans-serif;
}
